{% extends "base.html" %}
{% load url from future %}
{% load humanize %}

{% block content %}
<h2>We couldn't find the page you were looking for.</h2>
<p>If you're looking to view a particular library's computers, try:
<ul>
    <li><a href="{% url 'home' %}gelman/">{% url 'home' %}gelman/</a>
    <li><a href="{% url 'home' %}eckles/">{% url 'home' %}eckles/</a>
    <li><a href="{% url 'home' %}vstc/">{% url 'home' %}vstc/</a>
</ul>
<p>If you're looking to view which computers are offline, try:
<ul>
    <li><a href="{% url 'home' %}gelman/offline">{% url 'home' %}gelman/offline</a>
    <li><a href="{% url 'home' %}eckles/offline">{% url 'home' %}eckles/offline</a>
    <li><a href="{% url 'home' %}vstc/offline">{% url 'home' %}vstc/offline</a>
</ul>
<p>If you're trying to view a particular floor, try:
<ul>
    <li><a href="{% url 'home' %}gelman/floor/2">{% url 'home' %}gelman/floor/2</a> (to view locations on Gelman, floor 2)
</ul>
<p>If you're trying to view statistics on a particular location, try:
<ul>
    <li>{% url 'home' %}/gelman/location/3-101 (to view location 3-101 in Gelman)
</ul>
<p>If you're looking to view a particular library's computers using a fixed-width display, try:
<ul>
    <li><a href="{% url 'home' %}gelman/sign/400/">{% url 'home' %}gelman/sign/400</a> (you can change the number to your desired pixel width)
    <li><a href="{% url 'home' %}eckles/sign/400/">{% url 'home' %}eckles/sign/400</a>
    <li><a href="{% url 'home' %}vstc/sign/400/">{% url 'home' %}vstc/sign/400/</a>
</ul>
<p>Last but not least, if you're trying to use the API:
<ul>
    <li><a href="{% url 'home' %}api/v1/">{% url 'home' %}api/v1/</a>
</ul>

{% endblock content %}
