{% load url from future %}
<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>{{ title }}</title>
        {% block javascript %}
            <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'></script>
            <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
        {% endblock javascript %}
        {% block javascript_extra %}
            <script type="text/javascript">
                $(function() {
                    setTimeout(function() {
                        window.location = location.href;
                    }, 30000);
                });
            </script>
        {% endblock javascript_extra %}
        {% block styles %}
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet" />
        <link href="{{ STATIC_URL }}css/libheader7_lite.css" rel="stylesheet" type='text/css' media='screen' />
        <link href="{{ STATIC_URL }}css/libheader7_lite_bootswatch.css" rel="stylesheet" type='text/css' media='screen' />
        {% if fixedwidth and fixedwidth != 0 %}
        <link href="{{ STATIC_URL }}css/loggins-fixed.css" rel="stylesheet" type='text/css' media='screen' />
        {% else %}
        <link href="{{ STATIC_URL }}css/loggins.css" rel="stylesheet" type='text/css' media='screen' />
        {% endif %}
         <!--[if lt IE 9]>
         <link href="{{ STATIC_URL }}css/libheader7_lite_ie.css" rel="stylesheet">
         <![endif]-->
        {% endblock styles %}
        {% block styles_extra %}
        {% endblock styles_extra %}
        {% block analytics_bug %}
            {% if google_analytics_ua %}
                <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '{{ google_analytics_ua }}', 'gwu.edu');
ga('send', 'pageview');
                </script>
            {% endif %}
        {% endblock analytics_bug %}
    </head>
    <body>
        {% if not fixedwidth or fixedwidth == 0 %}
        <!-- this is the Libsite7 Lite Header -->
        <header class="navbar-fixed-top">
            <div id="libheader-container">
                <div id="libheader" class="container" style="">
                    <div class="libheader-logo hide-lo" style="">
                        <a href="http://www.gwu.edu" target="_blank" title="GWU website"><img src="{{ STATIC_URL }}img/gwheaderlogo.png" alt="logo: The George Washington University" /></a>
                    </div>
                    <div class="libheader-liblink" style="">
                        <a href="http://library.gwu.edu" target="_blank" title="GW Libraries website">GW Libraries</a>
                    </div>
                    <div class="libheader-link" style="">
                        <a href="{% url 'home' %}" title="computers.library.gwu.edu home">computers.library.gwu.edu</a>
                    </div>
                    <!-- don't need these yet
                    <div class="bullet" style="">&bull;</div>
                    <div class="libheader-link" style=""><a href="#" target="_blank" title="">Placeholder Link 2</a></div>
                    -->
                </div>
            </div>
        </header>
        <!-- end Libsite7 Lite Header -->
        {% endif %}

        <article class='container' style="{% if fixedwidth and fixedwidth != 0 %}width:{{fixedwidth}}px;margin-left:0{% endif %}">
            <div class="row-fluid">
{% block content %}
{% endblock content %}
            </div>
        </article>

        <!-- the Libsite7 Lite Footer -->
        {% if fixedwidth == 0 %}
        <footer class="navbar-fixed-bottom">
            <div id="libfooter-container" style="width:100%">
                <div id="libfooter" class="container" style="width:100%">
                    <div class="libfooter-text">
                        <span class="address">
                            <a href="http://library.gwu.edu" target="_blank" title="GW Libraries Website">GW Libraries</a> 
                            &#8226; 2130 H Street NW &#8226; Washington DC 20052
                        </span> 
                        &#8226; 
                        <span class="tel">202.994.6558</span> 
                        &#8226; 
                        <a href="mailto:refdesk@gwu.edu" target="_blank" title="">refdesk@gwu.edu</a>
                    </div>
                </div>
            </div>
        </footer>
        {% endif %}
        <!-- end Libsite7 Lite Footer -->

    </body>
</html>
