{% extends "base.html" %}
{% load url from future %}
{% load humanize %}

{% block content %}
<div class='span12'>
{% if locations %}
<h1>Current status for workstations on {{building}} {{floorname}} </h1>
<table class='table'>
    <thead>
        <tr>
            <th>Zone</th>
            <th>Station</th>
            <th>Status</th>
            <th>Operating System</th>
        </tr>
    </thead>
    <tbody>
        {% for location in locations %}
        <tr>
            <td>{{location.zonename}}</td>
            <td><a href="{% url 'location' library=building station=location.station_name %}">{{location.station_name}}</a></td>
            <td>{{location.state_display}}</td>
            <td>{{location.os_display}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

</div>
{% endblock content %}
