{% extends "base.html" %}
{% load url from future %}
{% load humanize %}

{% block content %}
<div class='span12'>
<h1>{{library_filter}} library workstations</h1>
{% if buildingfloors %}
<table class='table'>
    <thead>
        <tr>
            <th>Location</th>
            <th>Windows Workstations</th>
            <th>Mac Workstations</th>
        </tr>
    </thead>
    <tbody>
        {% for buildingfloor in buildingfloors %}
        <tr>
            <td><a href="{% url 'floor' buildingfloor.buildingfloorcode %}">{{ buildingfloor.building_display}}, {{buildingfloor.floor_display }}</a></td>
            <td>{% if buildingfloor.num_total_win > 0 %}{{buildingfloor.num_available_win}} of {{buildingfloor.num_total_win}} available{% endif %}</td>
            <td>{% if buildingfloor.num_total_mac > 0 %}{{buildingfloor.num_available_mac}} of {{buildingfloor.num_total_mac}} available{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% if host_counts %}
<table class='table'>
    <thead>
        <th>host</th>
        <th>location</th>
        <th># sessions</th>
    </thead>
    <tbody>
        {% for host_count in host_counts %}
        <tr>
        <td>{{ host_count.host_id }}</td>
            <td>{{ host_count.location }}</td>
            <td>{{ host_count.count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<h3>
{% if library_filter != "All" %}<a href="{% url 'home' %}">All</a>{% endif %}
    {% if library_filter != "Gelman" %}<a href="{% url 'gelman-home' %}">Gelman</a>{% endif %}
    {% if library_filter != "Eckles" %}<a href="{% url 'eckles-home' %}">Eckles</a>{% endif %}
    {% if library_filter != "VSTC" %}<a href="{% url 'vstc-home' %}">VSTC</a>{% endif %}
</h3>
<div>
    <span>Last updated on {% now "DATETIME_FORMAT"%}</span>
</div>
</div>
{% endblock content %}
