{% extends "base.html" %}
{% load url from future %}
{% load humanize %}

{% block content %}
<div class='span12' style="{% if fixedwidth and fixedwidth != 0 %}width:{{fixedwidth|add:"-10"}}px;margin-left:10px{% endif %}">
    <h1>{% if library_filter == "All" %}
        Library {% else %} {{library_filter|capfirst}} Library {% endif %} workstations available</h1>
{% if zones %}
<table class='table tight-table' style="{% if fixedwidth and fixedwidth != 0 %}width:{{fixedwidth|add:"-10"}}px{% endif %}">
    <thead>
        <tr>
            <th>Floor</th>
            <th>Windows</th>
            <th>Mac</th>
        </tr>
    </thead>
    <tbody>
        {% for zone in zones %}
        {% if zone.num_total_win > 0 or zone.num_total_mac > 0 %}
        <tr>
            <td><a href="{% url 'floor' library=zone.building_display floor_number=zone.floor_number %}">{% if library_filter == "All" %}{{ zone.building_display}}, {% endif %}{{zone.zone_display }}</a></td>
            <td>{% if zone.num_total_win > 0 %}{{zone.num_available_win}}&nbsp;of&nbsp;{{zone.num_total_win}}{% endif %}</td>
            <td>{% if zone.num_total_mac > 0 %}{{zone.num_available_mac}}&nbsp;of&nbsp;{{zone.num_total_mac}}{% endif %}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% if host_counts %}
<table class='table'>
    <thead>
        <th>host</th>
        <th>location</th>
        <th># sessions</th>
    </thead>
    <tbody>
        {% for host_count in host_counts %}
        <tr>
        <td>{{ host_count.host_id }}</td>
            <td>{{ host_count.location }}</td>
            <td>{{ host_count.count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% if fixedwidth == 0 %}
<h4>Show: 
{% if library_filter != "All" %}<a href="{% url 'home' %}">All</a> / {% endif %}
{% if library_filter != "Gelman" %}<a href="{% url 'home' library='gelman'%}">Gelman</a> / {% endif %}
{% if library_filter != "Eckles" %}<a href="{% url 'home' library='eckles'%}">Eckles</a> {% if library_filter != "VSTC" %} / {% endif %}{% endif %}
{% if library_filter != "VSTC" %}<a href="{% url 'home' library='vstc'%}">VSTC</a>{% endif %}
</h4>
{% endif %}
<h4>
Last updated on {% now "DATETIME_FORMAT"%}
</h4>
{% if fixedwidth == 0 %}
<h4>
<a href="http://library.gwu.edu/services/computers-wireless/library-computers">About GW Libraries Computers</a>
</div>
</h4>
{% endif %}
</div>
{% endblock content %}
