{% extends "base.html" %}
{% load url from future %}

{% block content %}
<h1>{{ host.name }} ({{ host.id}}) at {{ host.location }}</h1>

{% if records %}
<table class='table'>
    <thead>
        <th>timestamp</th>
        <th>event</th>
    </thead>
    <tbody>
        {% for record in records %}
        <tr>
            <td>{{ record.timestamp|date:"Y-m-d H:i:s" }}</td>
            <td>{{ record.get_event_display }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock content %}

