{% extends "base.html" %}
{% load url from future %}

{% block content %}
<div class='span12'>
    <h1>History for {{ location.station_name }} on {{bldgname}}, {{zone}}</h1>

{% if sessions %}
{% if paginator.num_pages > 1 %}
    <div class='pagination pagination-centered'>
        <ul>
            {% if sessions.has_previous %}
            <li><a href="{% url 'host' host.location %}?page=1">&laquo; 1</a></li>
            <li><a href="{% url 'host' host.location %}?page={{ sessions.previous_page_number }}">newer</a></li>
            {% else %}
            <li class='active'><a href="{% url 'host' host.location %}?page=1">&laquo;</a></li>
            {% endif %}
            <li class='active'>
                <a href='#'>{{ sessions.number }}</a>
            </li>
            {% if sessions.has_next %}
            <li><a href="{% url 'host' host.location %}?page={{ sessions.next_page_number }}">older</a><li>
            <li><a href="{% url 'host' host.location %}?page={{ paginator.num_pages }}">{{ paginator.num_pages }} &raquo;</a><li>
            {% endif %}
        </ul>
    </div>
{% endif %}
<table class='table'>
    <thead>
        <th>type</th>
        <th>start</th>
        <th>end</th>
        <th>duration (min)</th>
    </thead>
    <tbody>
        {% for session in sessions %}
        <tr>
            <td>{{ session.session_type }}</td>
            <td>{{ session.timestamp_start|date:"Y-m-d D H:i:s" }}</td>
            <td>{{ session.timestamp_end|date:"Y-m-d D H:i:s" }}</td>
            <td>{{ session.duration_minutes }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
</div>
{% endblock content %}

