{% extends "base.html" %}
{% load url from future %}
{% load humanize %}

{% block content %}
<div class='span12'>
{% if locations %}
<h1>Offline workstations{% if building %} in {{building}}{% endif %}</h1>
<table class='table'>
    <thead>
        <tr>
            <th></th>
            <th>Station</th>
            <th>Operating System</th>
            <th>Offline Since</th>
        </tr>
    </thead>
    <tbody>
        {% for location in locations %}
        <tr>
            <td>{% if not building %}{{location.building}} {% endif %}{{location.zonename}}</td>
            <td>{{location.station_name}}</a></td>
            <td>{{location.os_display}}</td>
            <td>{{location.offlinesince}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

</div>
{% endblock content %}
