DEBUG = True

ADMINS = (
    ('Your name', 'your.address@example.com'),
)

MANAGERS = ADMINS

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'loggins',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    }
}

SNMP_COMMUNITY_STRING = ''
ALLOWED_HOSTS = ['']
TASTYPIE_DEFAULT_FORMATS = ['json']
