article {
    padding-top: 3em;
    padding-bottom: 0em;
    min-height: 0;
    background-color: #d9e1e2;
}
.tight-table td, .tight-table th {
    line-height: 28px;
    padding: 6px 8px 0 0;
    font-size: 142%;
}
.value-column {
    color: #004065;
}
.header-column {
    color: #0096d6;
}
h1 {
    font-size: 175%;
    line-height: 175%;
}
h4 {
    font-size: 120%;
}
@media screen and (max-width: 979px) {
     article {padding-top:.7em;}
     .navbar-fixed-top {margin-bottom: 0;}
     #libheader-container {margin-bottom:0}
}
@media screen and (max-width: 769px) {
   .navbar-fixed-bottom {margin-left:0px; margin-top:0px;}
   .container {margin-left:-20px !important;}
   #libfoot-container {width:100%;}
   #libfooter {margin: 0em;}
   .libheader-link {margin-left:2.4em;}
}
